body {
    background-color: #c4b2b2;
        /* background-image: url(img/DigiHum.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed; */
}

.link-aueb>img {
    width:100%;
    height: auto;
}


.text-title {
    color: white;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 2px red;
    text-decoration: underline;
}

.text-msc {
    color: rgba(22, 20, 20, 0.8);
    font: 18px/22px 'Comic Neue', Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-align: justify;
    text-indent: 15px;
}


.link-msc:link {
    color: red;
}

.link-msc:visited {
    color: white;
}

.link-msc:hover {
    color: salmon; 
}

.link-msc:active {
    background-color: rgb(29, 202, 67);
}

.teachers-table, .teachers-table th, .teachers-table td {
    border: 1px solid black;
}

.teachers-table {
    border-collapse: collapse;
    width: 100%;
}

.teachers-table td {
    height: 50px;
    text-align: center;
    vertical-align: middle; /* Είναι το default */
}






